<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Tech Blog</title>
  <!-- CSS only -->
  <!-- CSS only -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- JavaScript Bundle with Popper -->

  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>

  <div class="header">
    <nav>
      <ul>
        <li><a class="active" href="/home">Home</a></li>

        <li><a href="/dashboard">Dashboard</a></li>
        {{#if logged_in}}
        <button id="log-out">Logout</button>
        {{else}}
        <li><a href="/login" id="log-in">Login</a></li>
        {{/if}}
      </ul>
    </nav>


    <div id='title'>
      <h2>The Tech Blog</h2>
    </div>
  </div>
  <div class="wrapper">
    {{{ body }}}
  </div>


  {{#if logged_in}}
  <script src="../../public/js/logout.js"></script>
  {{/if}}


</body>

</html>