<form>
  <div class="panel-default">
    <div class="panel-heading">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" placeholder="Title" required />

        <label for="content">Content</label>
        <textarea
          name="content"
          placeholder="Content"
          id="content"
          rows="4"
          cols="500"
        >
        </textarea>
      </div>
      <button id="save-blog" class="btn btn-primary">Save</button>
      <button type="cancel" id="cancel" class="btn btn-error">Cancel</button>
    </div>
  </div>
</form>

<script src="/js/newblog.js"></script>